name: Build macOS App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller
        pip install pillow

    - name: Build with PyInstaller
      run: |
        # --windowed = bez konzole, --icon = ikona (pokud máte .icns, použijte tu)
        pyinstaller --noconfirm --onefile --windowed --name "AI_Winget" --icon "program_icon.png" main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: AI-Winget-macOS
        path: dist/AI_Winget.app